*{
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x:hidden;
}
#nav{
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    /* z-index: -1; */
    /* overflow: hidden; */
    position: absolute;
}

#nav>div:first-child>a{
    margin-left: 5%;
}
#nav a{
    text-decoration: none;
    color: black;
}
#nav>div:first-child{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid; */
}
#menu{
    height: 40px;
}
#logo{
    width: 80%;
    /* height: 105%; */
}
#nav>div:last-child{
    /* border: 1px solid; */
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
}
/* #search{
    font-size: 90%;
    margin-right: 12%;
    border-bottom: 1px solid;
    text-align: left;
    padding-right: 20px;
} */
#search{
    text-decoration: none;
    color: black;
    font-size: 140%;
    padding-right: 5%;
    border-bottom: 1px solid;
    margin-right: 12%;
}
#nav>div:last-child>div{
    width: 10%;
    /* height: 90%; */
    /* border: 1px transparent; */
    display: flex;
}
#nav>div:last-child>div>img{
    width: 70%;
    align-self: center;
    margin: auto;
}
#nav>div:last-child>div>p{
    position:absolute;
    padding: 1.1%;
    padding-top: 1.25%;
    /* text-align: center; */
    align-self: center;
    font-size: 110%;
}
#menudiv{
    height: 100vh;
    width: 30%;
    padding: 2%;
    border: 1px solid;
    z-index: 1;
    display: none;
}
/* #menudiv { transition: opacity 1s; } */
#menudiv.hide {
    opacity:0;
}
#menudiv.show {
    opacity:1;
}
#menudiv>div:first-child{
    /* border: 1px solid; */
    width: 70%;
    font-size: 80%;
    margin-top: 30%;
    display: flex;
    justify-content: space-evenly;
    color: grey;
}
#menudiv>div:last-child{
    /* border: 1px solid; */
    width: auto;
    height: 60%;
    font-size: 70%;
    margin-top: 22%;
    margin-bottom: 20%;
    overflow: scroll;
}
#menudiv>div:last-child>a{
    display: block;
    color: grey;
    margin-top: 2%;
}
#menudiv>div:last-child>a:nth-last-child(5){
    color: rgb(211, 130, 144);
    font-style: italic;
}
#menudiv>div:last-child>a:nth-last-child(4){
    font-stretch:ultra-expanded;
    color: black;
}
#menudiv>div:last-child>a:nth-last-child(3),#menudiv>div:last-child>a:nth-last-child(2),#menudiv>div:last-child>a:nth-last-child(1){
    margin-top: 15%;
}

::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #acaaaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
    background-color: white;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
background: #555;
} */
