#bottomsec{
    padding-left: 5%;
    margin-top: 30%;
    /* border: 1px solid; */
}

#bcards{
    display: flex;
}

#bcards a{
    display: block;
    color: rgb(104, 104, 104);
    font-size: 70%;
    margin-top: 1.5%; 
}
#bcards a:hover{
    text-decoration: underline black;
}
#bcards h4{
    font-size: 70%;
}
#bottomsec>div:nth-last-child(2){
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
#bottomsec>div:nth-last-child(2)>p,#bottomsec>div:last-child>p{
    color: rgb(104, 104, 104);
    font-size: 70%;
    line-height: 0.5em;
}
#bottomsec>div:nth-last-child(2) a{
    color: rgb(156, 156, 156);
}
#bottomsec>div:last-child{
    margin-top: 5%;
}