body>div:nth-child(2){
    /* border: 1px solid; */
    /* height: 20px; */
    display: flex;
    justify-content: center;
}
body>div:nth-child(2)>p{
    margin: 1%;
    margin-top: 0%;
    font-size: 70%;
    color: grey;
}
#searchbar{
    border: 0px;
    margin-top: 5%;
    width: 85%;
    margin-left: 7%;
    border-bottom: 1px solid;
    border-color: black;
    padding: 0.5%;
    padding-left: 0%;
    font-size: 105%;
}

::placeholder{
    color: black;
}

#searchbar:focus{
    outline: none;
}

#trends{
    margin-left: 7%;
    font-size: 77%;
    margin-top: 3%;
    display: none;
}

#trends>p{
    color: grey;
    margin-top: 1%;
}
